# Chain verification

### Chain

- Deduction
- Induction
- Causality
- Mathematical proof
- ...

The more backward in chain = the less complexity

Verified chain = set of verified links
